{% extends 'base.html' %}
{% load static %}
{% block title %}
Add Transaction
{% endblock %}
{% block content %}
<h1>Add Transaction</h1>
<form id="transactionForm" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if form.errors %}
        <div class="errors">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <button type="submit">Save Transaction</button>
</form>
{% endblock %}

